.instrumentItemDiv {
    position: relative;
    margin: 0.5rem 4rem;
    padding: 1rem;
    display: flex;
    width: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #c2e7f0;
    font-weight: 900;
    z-index: 1;
  }
  
  .instrumentItemDiv:hover {
    background: rgb(44, 120, 182);
  }
  
  .clickedItem {
    margin: 0.5rem 3rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #c7bf4d;
    font-weight: 900;
  }
  
  .nameDiv {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }